<div class="info-container">
    <h2>Documentación del Proyecto</h2>
    
    <div class="detalle">
      <label>Descripción:</label>
      <span>Este proyecto se ha desarrollado con el framework de Angular, con el IDE Visual Studio Code, consumiendo la api de pokeApi</span>
    </div>
  
    <div class="detalle">
      <label>Tiempo de Desarrollo:</label>
      <span>1 semana</span>
    </div>

    <div class="detalle">
      <label>Tecnologías Utilizadas:</label>
      <span>TypeScript, HTML, CSS</span>
    </div>
  
    <div class="detalle">
      <label>Fecha de Inicio:</label>
      <span>1 de Marzo, 2025</span>
    </div>

    <div class="facultad-solucion">
      <h2>FeedBack sobre la Solución</h2>
      
      <div class="pase">
        <h3>PROS</h3>
        <ul>
          <li>Interfaz de usuario intuitiva y fácil de usar</li>
          <li>Datos en tiempo real gracias a la integración de pokeApi</li>
        </ul>
      </div>

      <div class="contrat">
        <h3>CONTRAS</h3>
        <ul>
          <li>Tiempo de carga inicial puede ser lento debido a la cantidad de datos.</li>
          <li>Requiere una conexión a internet estable para funcionar correctamente.</li>
        </ul>
      </div>

      <div class="elementos-dificiles">
        <h3>Elementos más difíciles:</h3>
        <ul>
          <li>Integración con la API de POKEMON.</li>
        </ul>
      </div>

      <div class="elementos-faciles">
        <h3>Elementos más fáciles:</h3>
        <ul>
          <li>Diseño de la estructura básica de la aplicación.</li>
          <li>Implementación de componentes multifuncionales en Angular.</li>
        </ul>
      </div>
    </div>
</div>