/* info-personal.component.css */
.info-container {
    background-color: #ffffff; /* Fondo blanco */
    border: 3px solid #ff4500; /* Borde rojo anaranjado */
    border-radius: 15px; /* Bordes redondeados */
    padding: 25px;
    margin: 20px;
    text-align: center;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Sombra para efecto elevado */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    overflow: hidden;
    margin-bottom: 70px;
    margin-top: 70px;
}


/* Estilos para el título de la información */
.info-container h2 {
    color: #ff4500; /* Rojo anaranjado */
    font-size: 2.5em;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fuente más atractiva */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra de texto */
    border-bottom: 2px solid #ff4500; /* Línea inferior */
    padding-bottom: 10px;
}

/* Estilos para las etiquetas y los valores del detalle */
.detalle {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    font-size: 1.3em;
    color: #333333; /* Color de texto gris oscuro */
}

.detalle label {
    font-weight: bold;
    color: #ff4500; /* Rojo anaranjado */
    margin-right: 10px;
    text-transform: uppercase; /* Texto en mayúsculas */
}

.detalle span {
    color: #666666; /* Gris oscuro */
}

/* Efecto de brillo al pasar el ratón */
.info-container::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0) 70%);
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.5s ease;
    pointer-events: none;
}

.info-container:hover::after {
    transform: translate(-50%, -50%) scale(1);
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .info-container {
        padding: 20px;
    }

    .detalle {
        flex-direction: column;
        align-items: center;
        font-size: 1.1em;
    }

    .detalle label {
        margin-bottom: 5px;
    }
}
