<!-- info-personal.component.html -->
<div class="info-container">
    <h2>Información Personal del Alumno</h2>
    
    <div class="detalle">
      <label>Nombre:</label>
      <span>Pablo Morales de los Santos</span>
    </div>
  
    <div class="detalle">
      <label>Edad:</label>
      <span>21 años</span>
    </div>
  
    <div class="detalle">
      <label>Curso:</label>
      <span>2º Grado Superior - DAW</span>
    </div>
  
    <div class="detalle">
      <label>Instituto:</label>
      <span>I.E.S Los Alcores</span>
    </div>
  
    <div class="detalle">
      <label>Correo Electrónico:</label>
      <span>pablomdls088&#64;gmail.com</span>
    </div>
  </div>
  