@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.detalle-usuario {
    font-family: 'Press Start 2P', cursive;
    background-color: #ffffff;
    border: 3px solid #ff0000;
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}

.detalle-usuario h2 {
    color: #ff0000;
    font-size: 1.5em;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.detalle {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 0.8em;
}

.detalle label {
    font-weight: bold;
    color: #ff0000;
    margin-right: 10px;
}

.detalle span {
    color: #333333;
}

.detalle-usuario::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.5s ease;
    pointer-events: none;
}

.detalle-usuario:hover::after {
    transform: translate(-50%, -50%) scale(1);
}

.type {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 0.7em;
}

.type label {
    font-weight: bold;
    color: #ff0000;
    margin-right: 10px;
}

.type span {
    padding: 8px 20px;
    border-radius: 25px;
    font-weight: bold;
    font-size: 1em;
    background-color: #ff0000;
    color: #ffffff;
    text-transform: uppercase;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #ff0000;
    transition: all 0.3s ease;
    cursor: default;
}

.type span:hover {
    background-color: #ffffff;
    color: #ff0000;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
}

.detalle-usuario img {
    width: 200px;
    height: auto;
    border: 3px solid #ff0000;
    border-radius: 15px;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 30px;
    margin-top: 40px;

}

