<div *ngIf="pokemon != undefined" class="detalle-usuario">
  <h2>Detalle de {{ pokemon.name | titlecase }}</h2>

  <img [src]="pokemon.sprites?.front_default" alt="Imagen de {{ pokemon.name }}" />

  <div class="detalle">
    <label>Altura:</label>
    <span>{{ pokemon.height }}</span>
  </div>

  <div class="detalle">
    <label>Peso:</label>
    <span>{{ pokemon.weight }}</span>
  </div>

  <div class="type">
    <span 
      *ngFor="let type of pokemon.types"
      class="type {{ type?.type?.name }}"
    >
      {{ type?.type?.name }}
    </span>
  </div>
</div>
